/* General */

html {
    font-family: 'Georgia', sans-serif;
    background-color: white;
    font-size: 18px;
    background: url(https://img.freepik.com/free-photo/tasty-appetizing-party-accessories-bright-blue-background_1220-1696.jpg?w=2000) no-repeat 50% center;
    background-size: 2000px;
}

body {
    width: 70%;
    margin: auto;
}

header {
    margin-top: 5%;
}


/* Fonts */

h1 {
    font-size: 75px;
    text-align: center;
}

h2 {
  font-size: 60px;
  text-align: center;
}

/* Styleing */ 

  main {
    flex: 7;
  }

  /* Form Styling */
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  /* Table Styleing 
  https://www.w3schools.com/css/css_table.asp */

  table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    font-size: 22px;
    text-align: center;
  }

  .table1 {
    margin-left: auto;
    margin-right: auto;
  }

  .table2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

img {
  width: 50px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

#ship_memo {
  text-align: center;
  width: 75%;
  margin: auto;
}