/* General */

html {
    font-family: 'Georgia', sans-serif;
    background-color: #2396FF;
    font-size: 18px;
    background: url(https://img.freepik.com/free-photo/tasty-appetizing-party-accessories-bright-blue-background_1220-1696.jpg?w=2000) no-repeat 50% center;
    background-size: 3000px;
}

body {
    width: 78%;
    margin: auto;
}

header {
    margin-top: 15%;
}


/* Fonts */

h1 {
    font-size: 75px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}

/* Styleing */ 

body > div {
    border: 5px solid black;
    display: flex;
  }

  main {
    flex: 7;
  }

  /* Form Styling */
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  

  /* Styling Products */

  section h2 {
    text-align: center;
    font-size: 40px;
  }

  section p {
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: #2396FF;
    padding: 10px 10px;
  }

.item {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50PX;
}

.item img {
  width: 300px;
  height: 200px;
  display: block;
}

.button {
  font-size: 50px;
  color: #2396FF;
  background-color: black;
  padding: 10px 30px;
  margin-bottom: 10px;
}

section input {
  width: 110px;
  height: 50px;
  margin-left: 27%;
  margin-top: 10%;
}

section label {
  margin-left: 23%;
  font-size: 25px;
}