/* General */

html {
    font-family: 'Georgia', sans-serif;
    background-color: #2396FF;
    font-size: 18px;
}

body {
    width: 80%;
    margin: auto;
}

/* Fonts */

h1 {
    font-size: 75px;
}

